.container {
  height: 100vh;
  max-width: 90vw;
}

.site-header {
  min-height: 10vh;
  background-color: #540d6e;
  color: white;
  font-size: xx-large;
}

.site-main {
  min-height: 80vh;
  padding-top: 0.4em;
  background-color: white;
  font-size: large;
  font-weight: 600;
  color: black;
}

.game-puzzle,
.game-pieces {
  border: 0.3em solid #540d6e;
  margin: 0.4em;
}

.puzzle-container {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 130px;
  border: 1px solid black;
}

/* PUZZLE CONTAINER COLORS
BLUE - 0E4EAD
GREEN - 0EAD69
PURPLE - 540D6E
RED - EE4266
YELLOW - FFD23F
*/
.mainHeaderbar {
  display: flex;
}

.pageName {
  align-self: center;
  color: white;
}

.textWhite {
  color: white;
}
