* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #f3f3f3; */
  background-image: url("./images/horror1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  /* margin-top: 70px; */
  opacity: 0.9;
}

.flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  /* max-width: 768px; */
  height: 50vh;

  /* overflow: hidden; */

  margin: 0 auto;
  padding: 15px;
}

.flexbox .board {
  display: flex;
  flex-direction: column;

  width: 100%;
  .board {
    height: 100%;
    padding: 15px;
  }

  .noborder {
    border: none;
  }

  .optionBoxMain {
    display: flex;
  }

  .optionBoxIndvidual {
    justify-content: center;
    align-items: center;
  }

  .optionbox {
    height: 360px;
    width: 380px;
    border: 1px solid red;
    margin: 5px;
  }
}
