/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body {
  background-color: #f3f3f3;
} */

/* .flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 768px;
  height: 50vh;

  overflow: hidden;

  margin: 0 auto;
  padding: 15px;
} */

.board {
  /* display: flex; */
  /* flex-direction: column; */

  /* width: 100%; */
  height: 100%;
  /* max-width: 300px; */

  /* background-color: white; */

  /* padding: 15px; */
}

/* .flexbox .board .card {
  padding: 15px 25px;
  background-color: white;

  cursor: pointer;
  margin-bottom: 15px;
} */

/* .fitcontent {
  width: fit-content;
} */

#image {
  height: 256px;
  width: 256px;
  background: url("https://cdn-images-1.medium.com/max/1600/1*WhDjw8GiV5o0flBXM4LXEw.png")
    0px 0px;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  /* background: yellow; */
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  /* background-color: red; */
}

.noborder {
  border: none;
}
